
@media screen and (max-width: 1920px){
    .intro{
        color: gold;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    
    body{
        background: url(images/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg);
    }
    
    .container {
        display: flex;
        background: orange;
        flex-direction: row;
        justify-content: center;
    }
    
    #instructions{
        text-align: center;
    }
    
    .container .field{
        background: yellow;
        width: 50px;
        height: 70px;
        margin: 15px;
        text-align: center;
        font-size: 40px;
    }
    
    #english{
        position: absolute;
        display: inline-block;
        bottom: auto;
        left: 10%;
        margin-top: 10px;
        bottom: 8%;
        width: 45em;
        height: 45em;
    }
    
    .firstfieldtext{
        text-align: center;
        color: gold;
        border: solid darkblue 15px;
        border-radius: 50%;
    }
    
    button{
        position: absolute;
        display: inline-block;
        left: 46%;
        bottom: 40%;
        height: 10em;
        width: 15em;
    }
    
    #encrypted{
        position: absolute;
        display: inline-block;
        left: 60%;
        margin-top: 10px;
        bottom: 8%;
        width: 45em;
        height: 45em;
    }
}

@media screen and (max-width: 1680px){
    .intro{
        color: gold;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    
    body{
        background: url(images/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg);
    }
    
    .container {
        display: flex;
        background: orange;
        flex-direction: row;
        justify-content: center;
    }
    
    #instructions{
        text-align: center;
    }
    
    .container .field{
        background: yellow;
        width: 50px;
        height: 70px;
        margin: 15px;
        text-align: center;
        font-size: 40px;
    }
    
    #english{
        position: absolute;
        display: inline-block;
        bottom: auto;
        left: 10%;
        margin-top: 10px;
        bottom: 8%;
        width: 45em;
        height: 35em;
    }
    
    .firstfieldtext{
        text-align: center;
        color: gold;
        border: solid darkblue 15px;
        border-radius: 50%;
    }
    
   button{
        position: absolute;
        display: inline-block;
        left: 48.5%;
        bottom: 37%;
        height: 6em;
        width: 10em;
    }
    
    #encrypted{
        position: absolute;
        display: inline-block;
        left: 60%;
        margin-top: 10px;
        bottom: 8%;
        width: 45em;
        height: 35em;
    }

}

@media screen and (max-width: 480px) {
    .intro{
        color: gold;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    
    body{
        background: url(images/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg);
    }
    
    .container {
        display: flex;
        background: orange;
        flex-direction: row;
        justify-content: center;
    }
    
    #instructions{
        text-align: center;
    }
    
    .container .field{
        background: yellow;
        width: 50px;
        height: 70px;
        margin: 15px;
        text-align: center;
        font-size: 40px;
    }
    
    #english{
        position: absolute;
        left: 30%;
        margin-top: 10px;
        bottom: 35%;
        width: 10em;
        height: 8em;
        margin-bottom: 20px;
    }
    
    .firstfieldtext{
        text-align: center;
        color: gold;
        border: solid darkblue 15px;
        border-radius: 50%;
    }
    
    button{
        position: absolute;
        left: 38.5%;
        bottom: 25%;
        height: 4em;
        width: 4em;
    }
    
    #encrypted{
        position: absolute;
        left: 30%;
        margin-top: 10px;
        bottom: 8%;
        width: 10em;
        height: 8em;
    }
}

@media screen and (max-height: 480px){
    .intro{
        color: gold;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    
    body{
        background: url(images/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg);
    }
    
    .container {
        display: flex;
        background: orange;
        flex-direction: row;
        justify-content: center;
    }
    
    #instructions{
        text-align: center;
    }
    
    .container .field{
        background: yellow;
        width: 50px;
        height: 70px;
        margin: 15px;
        text-align: center;
        font-size: 40px;
    }
    
    #english{
        position: absolute;
        left: 20%;
        margin-top: 10px;
        bottom: 38%;
        width: 30em;
        height: 2em;
        margin-bottom: 20px;
    }
    
    .firstfieldtext{
        text-align: center;
        color: gold;
        border: solid darkblue 15px;
        border-radius: 50%;
    }
    
    button{
        position: absolute;
        left: 45%;
        bottom: 40%;
        height: 4em;
        width: 4em;
    }
    
    #encrypted{
        position: absolute;
        left: 50%;
        bottom: 40%;
        width: 30em;
        height: 2em;
    }
}
